/* CSS fourni dans le fichier de départ */

.column {
    box-sizing: border-box;
    
    /* Venir écrire les autres règles à l'intérieur */

}

.column {
    width: 33%;
    float: left;
}


@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }
}








